language: node_js
node_js:
  - "12"
# dist: trusty
# sudo: false

cache:
  directories:
    - "node_modules"

branches:
  only:
    - master

install:
  - git clone --depth 1 https://github.com/Jermolene/TiddlyWiki5.git
  - cd TiddlyWiki5
  - npm link
  - cd ..

script:
  - tiddlywiki --verbose --build index

deploy:
  provider: pages
  edge: true
  skip_cleanup: true
  target_branch: gh-pages
  token: $GITHUB_TOKEN
  local_dir: output
  on:
    branch: master
